{
  "configurations": [
    {
      "name": "barrani",
      "request": "launch",
      "type": "dart",
      "program": "lib/main.dart",
      "env": {},
      "args": [
        // Firebase configuration
        "--dart-define=DEFINE_FIREBASE_PROJECT_ID=webkit-5cc0f",
        "--dart-define=DEFINE_FIREBASE_IOS_APP_ID=1:929784611742:ios:26030b018b30c463878c8f",
        "--dart-define=DEFINE_FIREBASE_ANDROID_APP_ID=1:929784611742:android:41f713f5dc200ecb878c8f",
        "--dart-define=DEFINE_FIREBASE_IOS_API_KEY=AIzaSyDC2tqVj_TaAFrtZ56yaOfMvP2y1NNBe_I",
        "--dart-define=DEFINE_FIREBASE_ANDROID_API_KEY=AIzaSyAOFlMeJLM6qaY0ajVg6brLQc95NDQth5U",
        "--dart-define=DEFINE_FIREBASE_SENDER_ID=929784611742",
        "--dart-define=DEFINE_FIREBASE_BUCKET_NAME=webkit-5cc0f.appspot.com",
        "--dart-define=DEFINE_FIREBASE_CLIENT_ID=client_id",
      ]
    },
  ]
}
